[submodule "lib/huTools"]
	path = lib/huTools
	url = git@github.com:hudora/huTools.git
[submodule "lib/gaetk"]
	path = lib/gaetk
	url = git@github.com:mdornseif/appengine-toolkit.git
[submodule "lib/jinja2"]
	path = lib/jinja2
	url = http://github.com/mitsuhiko/jinja2.git
