Django>=1.1
googleappsauth>=1.03
httplib2
boto
--editable git+http://github.com/sixapart/python-simpledb.git#egg=simpledb
--editable git+ssh://git@github.com/hudora/CentralServices.git#egg=cs
# as of 2010-05-10 we neet the unreleased version of annoying
--editable hg+http://bitbucket.org/offline/django-annoying#egg=annoying
